@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Noticia+Text:ital,wght@0,400;1,700&display=swap');
@font-face {
	font-family: "ProximaNovaCond";
	src: url("../fonts/ProximaNovaCond-SemiboldIt.woff2") format("woff2"), url("../fonts/ProximaNovaCond-SemiboldIt.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

h1{
	font-family: "ProximaNovaCond", sans-serif;
	text-align: center;
	font-size: 55px;
	color: #272640;
	text-shadow: 10px 10px 30px rgb(5, 23, 61)
}
h2.summary-heading{
	font-family: 'Cormorant Garamond', serif;
  	font-family: 'Montserrat', sans-serif;
	font-family: 'Noticia Text', serif;
	font-weight: 700;
	font-size: 35px;
	color:#312244;
	text-align: center;
}
.summary{
	font-family: 'Cormorant Garamond', serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Noticia Text', serif;
	font-style: italic;
	font-size: 20px;
	color: #3E1F47;
}

body{
	background-color: #9c89b84f;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Noticia Text', serif;
	font-family: 'Rubik', sans-serif;
	font-style: oblique;
	line-height:1.5;
}
a{
	text-decoration: underline;
	font-weight: 900;
}
span.tesla-name{
	font-weight: 900;
	color: #272640;
	font-size: 25px;
	text-decoration: underline;
	
}
.heading-h3 span{
	font-weight: 900;
	color: #272640;
	font-size: 20px;
	background-color: #00646648;

}
.heading-h3{
	text-align: center;
}
div{
	text-indent:15px;
	padding-bottom: 20px;

}
[class*="-h4"] {
	background-color: #00646648;
	text-align: center;
}

#personal-thins ~ div{
	text-align: center;	
}

.image{
	text-align: center;
}
